@font-face {
  font-family: 'En type';
  font-style: normal;
  font-weight: 400;
  src: local('En type'), local('En type'),
       url('./2CF2F2_1_0.woff2') format('woff2'), /* Super Modern Browsers */
}